$color-fuerte: #15203d;
$navbar-background-color: #121f3d; //Fondo de navbar
$navbar-item-hover-background-color: $color-fuerte;
$navbar-item-color: #f5f5f5;
$navbar-item-hover-color: #f5f5f5;
$navbar-dropdown-arrow: #bbb;
$navbar-item-active-color: #f5f5f5;
$navbar-item-active-background-color: $color-fuerte;
$navbar-dropdown-background-color: $color-fuerte;
$navbar-dropdown-border-top: 2px solid $color-fuerte !default;
$navbar-dropdown-item-hover-color: #f5f5f5 !default;
$navbar-dropdown-item-hover-background-color: #01091f;



//TABS

