@charset "utf-8";
@import "variables";
@import "bulma/bulma.sass";
@import "../css/fontawesome-pro/all.css";
@import "datatables.net-bm";

//Custom Styles css
@import "table";

html {
    font-size: 15px;
    background-color: #e6eef6;
}

body {
    font-family: "Arial", serif;
    height: 100%;
}



.is-bg-mpv{
    background: #003b8f;
    color: white;
    padding: 20px 10px;
}

/*
.border-photo-editar-perfil {
    border-width: 12px;
    border-style: solid;
    border-radius: 50%;
    border-color: #eb5656;
    overflow: hidden;
}

.border-photo-editar-perfil:hover {
    border-color: #fd8585;
}
*/

.tabs li.is-active a {
    border-bottom-color: #1192ee;
    border-bottom-width: 3px;
    color: #1192ee;

}
.tabs {
    font-size: 14px;

    a {
        border-bottom-width: 3px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

.Toastify__toast-body {
    font-size: 14px;
}

/* Scrollbar Styling */
.modal-card-body::-webkit-scrollbar {
    width: 10px;
}

.modal-card-body::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.modal-card-body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a1a1a1;
}

.profile-picture {
    position: relative;
    display: inline-block;
    overflow: hidden;

    img {
        display: block;
        width: 128px;
        background-color: black;
        object-fit: cover;
        border-radius: 50%;
    }
    .button-upload-photo {
        position: absolute;
        bottom: 10px;
        right: 5px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: rgb(57, 59, 59);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
            font-size: 20px;
            color:white;
        }
        &:hover {
            background: rgb(101, 101, 101);
        }
    }
}

.modal-title-card {
    background: #113868;
    .modal-card-title {
        color: #ffffff;
        font-size: 16px;
    }
}

.modal-card-body {
    background-color: #e6eef6;
}

.modal-content {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 1000px; /* Ancho máximo opcional */
    height: 80%; /* Ajusta la altura según tus necesidades */
}


